# --- Django Settings ---
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=change_me_in_production

# --- Database (SQLite doesn't need env settings) ---

# --- Django Admin Credentials (optional for Docker demo) ---
# DJANGO_SUPERUSER_NAME=admin
# DJANGO_SUPERUSER_PASSWORD=admin
# DJANGO_SUPERUSER_EMAIL=admin@example.com
